body {
  padding: 0 30px;
  font-size: 20px;
  line-height: 26px;
  font-family: "Arial", sans-serif;
  color: #222222;
  /* background: #ffffff url("../img/bg-page.jpg") repeat-x top center; */
  background-color: #ffffff;
  background-image: url("../img/bg-page.jpg");
  background-repeat: repeat-x;
  background-position-y: top;
  background-position-x: center;
}

a {
  color: #0099ef;
  text-decoration: underline;
}

.avatar {
  border-radius: 50%;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
  line-height: normal;
}

.navigation {
  margin-bottom: 30px;
  padding: 20px;
  color: #ffffff;
  background-color: #4470c4;
  border: 5px solid #2d508f;
}

.navigation a{
  color: white;
}

.navigation ul {
  list-style: none;
  padding-left: 0;
}

.navigation h2 {
  margin: 0;
}

.blog-navigation h2 {
  margin-top: 0;
}

.blog-navigation li {
  margin-bottom: 5px;
}

aside {
  margin: 20px 0;
  color: #c4c4c4;
}

pre,
code {
  font-family: "Courier New", "Courier", monospace;
  color: #6a2cce;
}

pre {
  line-height: normal;
}

.page-title {
  font-family: "Verdana", sans-serif;
  font-size: 2.5em;
  line-height: 120%;
}

blockquote {
  padding-left: 14px;
  border-left: 2px solid #6a2cce;

  color: #6a2cce;
}

cite {
  color: #222222;
}

time {
  color: #6a2cce;
}

.days {
  list-style: none;
  padding-left: 0;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figure img {
  vertical-align: middle;
  border: 8px solid rgb(202, 224, 248);
}

figcaption {
  width: 502px;
  padding-bottom: 8px;
  font-size: 12px;
  letter-spacing: 0.02em;
  font-style: italic;
  /* margin: 0 auto; */
  background-color: rgb(202, 224, 248);
}

.photoViewer {
  text-align: center;
}

.photoViewer figcaption {
  margin: 0 auto;
}

.pagination a {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 15px;
}

.pagination {
  text-align: center;
  color: #888888;
}

.danger-text {
  color: #ff4400;
}

.danger-block {
  padding: 5px 10px;
  background-color: #ffd0bf;
}

.no-danger-block {
  padding: 5px 10px;
  background-color: #c6f5f0;
}

.skills dd {
  background-color: #e8e8e8;
  margin: 0;
  margin-bottom: 10px;
}

.skills-level {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #4470c4;
}

.skills-level-ok {
  background-color: #47bb52;
}

footer {
  text-align: center;
  margin-top: 30px;
}

footer p {
  display: inline-block;
}