body {
  padding: 0 30px;
  font-size: 20px;
  line-height: 26px;
  font-family: "Arial", sans-serif;
  color: #222222;
  /* background: #ffffff url("../img/bg-page.jpg") repeat-x top center; */
  background-color: #ffffff;
  background-image: url("../img/bg-page.jpg");
  background-repeat: repeat-x;
  background-position-y: top;
  background-position-x: center;
}

a {
  color: #0099ef;
  text-decoration: underline;
}

.avatar-container {
  text-align: center;
}

.avatar {
  border-radius: 50%;
}

.partnerblock {
  background-color: #4a87fa;
  color: white;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
  line-height: normal;
}

.navigation {
  margin-bottom: 30px;
  padding: 20px;
  color: #ffffff;
  background-color: rgba(68, 112, 196, 0.8);
  border: 5px solid #2d508f;
}

.navigation a {
  color: white;
}

.navigation ul {
  list-style: none;
  padding-left: 0;
}

.navigation h2 {
  margin: 0;
  font-size: 1.5em;
}

pre,
code {
  background-color: #20202a;
  border: 4px dashed rgb(93, 86, 93);
  border-radius: 8px;
  color: #bcbccc;
  font-family: "Consolas New", "Consolas", monospace;
  line-height: normal;
  padding: 6px;
  margin: 2px;;
}

pre code {
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.page-title {
  font-family: "Verdana", sans-serif;
  font-size: 2em;
  line-height: 120%;
  font-weight: bold;
  text-align: center;
}

blockquote {
  padding-left: 14px;
  border-left: 2px solid #6a2cce;

  color: #6a2cce;
}

cite {
  color: #222222;
}

time {
  color: #6a2cce;
}

.days {
  list-style: none;
  padding-left: 0;
}

.photoViewer img {
  vertical-align: middle;
  border: 8px solid rgb(202, 224, 248);
}

.photoViewer {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.photoViewer figcaption {
  margin: 0 auto;
  width: 502px;
  padding-bottom: 8px;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-style: italic;
  background-color: rgb(202, 224, 248);
}

.pagination a {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 15px;
}

.pagination {
  text-align: center;
  color: #888888;
}

.danger-text {
  color: #ff4400;
}

.danger-block {
  padding: 5px 10px;
  background-color: #ffd0bf;
}

.font-style {
  font-style: italic;
}

.no-danger-block {
  padding: 5px 10px;
  background-color: #c6f5f0;
}

.skills dd {
  background-color: #e8e8e8;
  margin: 0;
  margin-bottom: 10px;
}

.skills-level {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #4470c4;
}

.skills-level-ok {
  background-color: #47bb52;
}

del {
  color: #ff4400;
  text-decoration: none;
}

ins {
  color: rgb(105,178,83);
  text-decoration: none;
}

.underline {
  text-decoration-line: underline;
}

.overline {
  text-decoration-line: overline;
}

.line-through {
  text-decoration-line: line-through;
}

footer {
  text-align: center;
  margin-top: 30px;
  color: #aaaaaa;
  border-top: 1px solid #aaaaaa;
  margin-top: 30px;
  padding-top: 10px;
}

footer p {
  display: inline;
}

footer a {
  color: #aaaaaa;
  text-decoration: none;
  text-decoration: line-through;
}